body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#gameContainer {
    width: 640px;
    height: 480px;
    position: relative;
}

#pongCanvas {
    background-color: #000;
}
